.header {
  margin-bottom: 3rem;
  padding: 1rem 0 3 rem;
  h1 {
    color: green;
  }
}

.title {
  padding: 0;
}
.menu {
  align-items: center;
  display: flex;
  list-style-type: none;
  width: 100%;
  div {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    a {
      color: #999;
      display: inline-block;
      margin: 0.5rem;
      &:hover {
        color: greenyellow;
      }
    }
    .active-nav-item {
      color: rgb(11, 104, 11);
    }
  }
}
