.header {
  max-width: 960px;
  // border: 1px solid blue;
  padding: 1rem 0;
  height: 10vh;
  margin: auto !important;
  h1 {
    color: green;
  }
}

.title {
  padding: 0;
  width: 100%;
}
.menu {
  position: relative;
  align-items: center;
  display: flex;
  list-style-type: none;
  width: 100%;
  div {
    margin-left: auto;
    display: flex;
    // margin-right: -15px;
    a {
      color: #999;
      display: inline-block;
      margin: 0.5rem;
      &:hover {
        color: greenyellow;
        text-decoration: none;
        border-bottom: 2px solid;
      }
    }
    .active-nav-item {
      color: green;
      border-bottom: 2px solid #007bff;
    }
  }
  button {
    display: none;
  }
}

@media all and (max-width: 670px) {
  .header {
    h1 {
      font-size: 1.6rem;
      margin-bottom: 0;
    }
  }
  .menu {
    flex-direction: column;
    align-items: flex-end;
    div {
      display: none;
      padding: 3rem;
      padding-bottom: 0;
    }
    button {
      background: inherit;
      border: 3px solid green;
      border-radius: 0.25rem;
      color: green;
      display: block;
      margin-bottom: 0;
      position: absolute;
      margin-right: 15px;
      right: 0;
    }
  }
}
.show {
  display: block !important;
}

.openNavbar {
  height: 35vh;
}
