.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding: 1rem 0 3 rem;
  h1 {
    color: green;
  }
  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    a {
      color: #999;
      margin-right: 1.3rem;
      &:hover {
        color: greenyellow;
      }
    }
    .active-nav-item {
      color: rgb(11, 104, 11);
    }
  }
}
