* {
  color: rgb(245, 240, 240);
  text-decoration: none;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #2e2a2e;
}

.title {
  margin-bottom: 4rem;
}

.container {
  flex-direction: column;
  margin: 0 auto;
  max-width: 960px;
  padding: 1rem;
}

.content {
  padding-top: 15vh;
  min-height: 90vh;
  flex-grow: 1;
}

img {
  max-width: 100%;
}

.headerLayout {
  position: fixed;
  top: 0;
  left: 0;
  // border: 1px solid red;
  background: rgba(46, 42, 46, 0.9);
  width: 100vw;
  z-index: 10;
}

.indexHeaderLayout {
  background: none;
}
