* {
  color: rgb(245, 240, 240);
  text-decoration: none;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #19181a;
}

.container {
  flex-direction: column;
  margin: 0 auto;
  max-width: 860px;
  min-height: 100vh;
  padding: 1rem;
}

.content {
  padding-top: 15vh;
  flex-grow: 1;
}

img {
  max-width: 100%;
}

.headerLayout {
  position: fixed;
  top: 0;
  left: 0;
  // border: 1px solid red;
  width: 100vw;
  z-index: 10;
}
