* {
  color: #666666;
  text-decoration: none;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 750px;
  min-height: 100vh;
  padding: 1rem;
}

.content {
  flex-grow: 1;
}

img {
  max-width: 100%;
}
