.loading {
  align-items: center;
  background: #231f22;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  width: 100vw;
  h3 {
    animation: loadingTitle 2s infinite alternate linear;
  }
}

@keyframes loadingTitle {
  0% {
    color: #231f22;
  }
  100% {
    color: white;
  }
}

.emoji {
  animation: loading 3s infinite linear;
  display: inline-block;
}

@keyframes loading {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
