h4,
img {
  margin: 1rem 0;
}
.about {
  margin-bottom: 4rem;
}
.links {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  width: 100%;
  a {
    color: green;
    margin-right: 1.4rem;
  }
}
