.japaneseText {
  font-size: 0.8rem;
}

.message {
  margin: 2rem 0;
}

.profileImage {
  margin: 2rem 0;
  width: 30%;
}

.button {
  float: right;
  color: green;
  background: white;
  border: 3px solid green;
  &:hover {
    background: green;
    border: 3px solid green;
  }
}

.hidden {
  display: none;
}
