.index {
  position: relative;
}
.sketch {
  left: 0;
  top: 3;
  position: absolute;
  touch-action: manipulation;
  user-select: none;
  width: 100vw;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
