.posts {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post {
  height: 20vh;
  margin: 1rem 0;
  a {
    background: #f4f4f4;
    color: #000;
    display: flex;
    padding: 1rem;
    text-decoration: none;
  }
  a:hover {
    background: #e4e4e4;
  }
  img {
    height: 10vh;
  }
  h3 {
    margin-bottom: 0;
  }
  p {
    color: #777777;
    font-size: 0.8rem;
    font-style: italic;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
